<h1>New User</h1>
<p>Find me in app/views/users/new.html.erb</p>

<%= bootstrap_form_for @user, validate: :true, :url => users_path, :html => { :multipart => true } do |f| %>
	<%= f.text_field :username, help: "Must be under 50 characters" %><br />
	<%= f.password_field :password, help: "must be at least 8 characters long" %><br />
	<%= f.password_field :password_confirmation %>
	<%= f.file_field :avatar %><br />
	<%= yield(:user_validators) %>
	<%= f.submit %>
<% end %>