<h1>Users#new</h1>
<p>Find me in app/views/users/new.html.erb</p>

<%= form_for @user, :url => users_path, :html => { :multipart => true } do |f| %>
	Your Username: <%= f.text_field :username %><br />
	Your Password: <%= f.password_field :password %><br />
	Password Again: <%= f.password_field :password_confirmation %>
	Profile Picture: <%= f.file_field :avatar %><br />
	<%= f.submit %>
<% end %>