<h1>compare pictures on this page</h1>

<div class="content">
	<div class="all">
		<div class="gameboard">
			<div class="row">
				<div class="gamePiece">
					<div class="thumbnail">
						<%= image_tag @rand_pic.pic.url(:display) %>
						<div class="caption">
							<p><%= @rand_pic.caption %></p>
							<p id="score1" class="score"><%= @rand_pic.score %></p>
						</div>
						<%= link_to "Cast your vote!", picture_path(@rand_pic), method: :patch, :class => 'btn btn-primary' %>

					</div>
				</div>
			<div class="gamePiece">
				<div class="thumbnail">
					<%= image_tag @rand_pic2.pic.url(:display) %>				
					<div class="caption">
						<p><%= @rand_pic2.caption %></p><br>
						<p id="score2" class="score"><%= @rand_pic2.score %></p>
						<%= link_to "Cast your vote!", picture_path(@rand_pic2), method: :patch, :class => 'btn btn-primary' %>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="thirdRow">
		<div class="row">
			<div class="btn-row">
				<% if current_user != nil %>
				<%= link_to "Upload your own!", new_picture_path, :class => 'btn btn-primary' %>
				<% else %>
				<%= link_to "Upload your own!", new_sessions_path, :class => 'btn btn-primary' %>
				<% end %>

				<%= link_to "Top 100!", leaderboards_path, :class => 'btn btn-primary' %>
			</div>
		</div><br><br>
	</div>

</div>
</div>
<script>
//this doesn't work. Ideally I'll figure it out soon to avoid having to reload the page. 	
var numScore = $( "#score1" ).text()
parseInt(numScore);
console.log("Score: " + numScore);

var pic_id = <%= @rand_pic.id %>;
console.log("Pic Id: " + pic_id);

function incrementer(){
	console.log("clicked");
	numScore++;
	console.log("New Score: " + numScore);
	$.ajax({
		//URL for request:
		url: "pictures/" + pic_id,
		//Data to be sent:
		data: { score: numScore },
		type: "PATCH",
		//Type of data we expect back?
		//Success function:
		success: function(response, textStatus, jqXhr) {
			console.log("The following error occured: " + textStatus, errorThrown);
		},
		complete: function() {
			console.log("Score Put Ran");
		},
		error: function( xhr, status, errorThrown ){
			console.log( "There was a problem" );
			console.log( "Error: " + errorThrown );
			console.log( "Status: " + status );
			console.dir( xhr );
		}
	});

}


	// $.get( 'pictures/' + pic_id, {score : numScore}, function(){
	// 	console.log( "success" );
	// })
	// .done(function(){
	// 	console.log( "second success" );
	// })
	// .fail(function(){
	// 	console.log( "error" );
	// })
	// .always(function(){
	// 	console.log( "finished" );
	// });
</script>